* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #C0392B;
    padding: 20px 0;
    color:#FFFFFF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.menu-section {
    padding: 60px 0;
    text-align: center;
}

.section-title {
    color: #C0392B;
    margin-bottom: 40px;
    font-size: 32px;
    text-transform: uppercase;
}

.menu-grid {
    display: grid;
    gap: 20px;
}

.menu-card {
    border: 1px solid #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: 0.3s;
}

.menu-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.menu-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.price {
    color: #b33a2b;
    font-weight: bold;
    font-size: 22px;
}

/* Footer */
footer {
    background-color: #222;
    color: #aaa;
    text-align: center;
    bottom: 0;
    width: 100%;
}